.container{
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows:50px 50px;
    /*Rows then columns*/
    /*grid-template:50px 50px / 50px 50px;*/
    grid-auto-rows:50px;
    grid-auto-columns:50px;

    gap:10px 50px;

    
}

.container >div{
    border:solid blue 1px;
}