.wrapper{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3,100px);
    border:4px solid #ff934c;
    column-gap:20px;
    row-gap:1em;
}
.box1,
.box2,
.box3,
.box4{
    background-color: #ffcfaf;
    border:4px solid #ff934c;
}

/*
.box1{
    grid-column:1 / 2;
    grid-row: 1 / 4;
}
.box2{
    grid-column:3 / 4;
    grid-row: 1 / 3;
}
.box3{
    grid-column: 2 / 3;
    grid-row:1/2;
}
.box4{
    grid-column:2 / 4;
    grid-row:3/4;
}*/

/*Using default spans*/
/*
.box1{
    grid-column:1;
    grid-row:1/4;
}
.box2{
    grid-column:3;
    grid-row:1 / 3;
}
.box3{
    grid-column:2;
    grid-row:1;
}
.box4{
    grid-column:2/4;
    grid-row:3;
}*/

/*Using grid-area*/
/*
.box1{
    grid-area:1 / 1 / 4 / 2;
}
.box2{
    grid-area: 1 / 3 / 3 / 4;
}
.box3{
    grid-area:1 / 2 / 2 / 3;
}
.box4{
    grid-area:3 / 2 / 4 / 4;
}*/

/*Using negative numbers*/
/*
.box1{
    grid-column: -1/-2;
    grid-row:-1/-4;
}
.box2{
    grid-column: -3/-4;
    grid-row:-1/-3;
}
.box3{
    grid-column:-2 / -3;
    grid-row:-1 / -2;
}
.box4{
    grid-column:-2 / -4;
    grid-row: -3/-4;
}*/

/*Stretching grid from start to end*/
/*.item{
    grid-column: 1/-1;
}*/

/*Using span to specify how far it should stretch*/

.box1{
    grid-column:1/ span 1;
    grid-row: 1/span 3;
}
.box2{
    grid-column:3 / span 1;
    grid-row:1/ span 2;
}
.box3{
    grid-column:2/span 1;
    grid-row:1/span 1;
}
.box4{
    grid-column:2/ span 2;
    grid-row:3/span 1;
}